@using Public.Models 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Public</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.tiny.cloud/1/dati1bok39b2ty7rz015r8173gj642okx8s423m4tlilk0ro/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body>
    <span class="text-right"><a style="cursor: pointer;float:right;" onclick="goBack()">[close]</a> </span>
    <div class="container p-0">
        <div class="row">
            <div class="col-2">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm  mb-3">
                    <div class="container menucolors">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-column flex-grow-1">


                                @foreach (var item in Model.MenuItems)
                                {

                                    <li class="nav-item">
                                        <a class="nav-link menucolors" style="cursor: pointer;" href="@item.TargetURL">@item.Text</a>
                                    </li>
                                }


                            </ul>@*(List<MenuItem>)ViewData["MenuItems"]*@

                        </div>
                    </div>
                </nav>

            </div>
            <div class="col-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

            </div>


        </div>
        @if (Model.CurrentProject.EnableFooter)
        {
            <div class="myfooter text-center py-5">

                <p>@Model.CurrentProject.FooterContent</p>

            </div>
        }
        </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function clearURL() {
        window.history.pushState({}, document.title, "/");
        window.location.reload(true);
    }
</script>