@page "{projectname}"
@model Public.Pages.display.IndexModel
@using Microsoft.AspNetCore.Html
@{       if (Model.CurrentProject.EnableMenu)
    {


        switch (Model.CurrentProject.MenuType)
        {
            case "h":
                Layout = "_DisplayLayouth";
                break;
            case "vl":
                Layout = "_DisplayLayoutvl";
                break;
            case "vr":
                Layout = "_DisplayLayoutvr";
                break;
            default:
                Layout = "_DisplayLayout";
                break;

        }
    }
    else
    {
        Layout = "_DisplayLayout";
    }

}

@if (Model.PageId != 0)
{

    @foreach (var comp in Model.PageComponents)
    {

        <div class="row">

            @foreach (var column in comp.Columns)
            {
                <div class="col">
                    @*@if (column.ComponentType == "default")
                    {
                        <component type="typeof(Components.DefaultComponent)" render-mode="ServerPrerendered" param-Comp="@comp" param-Column="@column" param-PageId="@Model.PageId" />
                    }*@
                    @if (column.ComponentType == "text")
                    {
                        <component type="typeof(Components.TextComponent)" render-mode="ServerPrerendered" param-Column="@column" />
                    }
                    else if (column.ComponentType == "link")
                    {
                        <component type="typeof(Components.LinkComponent)" render-mode="Static" param-Column="@column" param-CompId="comp.ID" param-PageId="@Model.PageId" />
                    }

                    else if (column.ComponentType == "header")
                    {
                        <component type="typeof(Components.HeaderComponent)" render-mode="ServerPrerendered" param-Column="@column" />
                    }
                    else if (column.ComponentType == "image")
                    {
                        <component type="typeof(Components.ImageComponent)" render-mode="ServerPrerendered" param-Column="@column" param-CompId="comp.ID" param-PageId="@Model.PageId" />
                    }

                </div>
            }

        </div>

    }

}

