@page "{projectname?}/{id?}"

@model Public.Pages.cp.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SitePages[0].Title)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.SitePages[0].TimesVisited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SitePages[0].Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SitePages)
        {
            <tr>
                <td>
                    <a href="?pageid=@item.ID">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                
                
                <td>
                    @Html.DisplayFor(modelItem => item.TimesVisited)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ID)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
      tinymce.init({
        selector: '#mytextarea'
      });

    tinymce.init({
        selector: '#myeditable-h1',
        inline: true,
        menubar: false,
        toolbar: 'undo redo'
    });

</script>


@if(Model.PageId != 0)
{


<div class="row">


    <div class="col-6">
        <h1>Welcome to Edit Mode</h1>
       
        <form method="post">
            <textarea asp-for="TextBlock" id="mytextarea">@Model.TextBlock</textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="col-6">

        <h1>Preview</h1>
        <div id="wrap">
            <iframe id="scaled-frame" src="/display/@Model.CurrentProject.ProjectNameRoute?pageid=@Model.PageId" title="Homepage" height="600" width="800" ; target="/"></iframe>
        </div>

    </div>

</div>
}